.breadcrumbs ul {
  display: flex;
  align-items: center;
  gap: .5rem;
  list-style: none;
  color: #454545;
  font-size: var(--font-size-small);
  margin: 2rem 0;
  padding: 0;
}

.breadcrumbs li {
  display: flex;
  align-items: center;
}

.breadcrumbs a {
  color: var(--color-foreground);
  text-decoration: none;
}

.breadcrumbs ul li + li:before {
  content: "/";
  margin-right: .5rem;
}

.home:not(:has(+ li)):after {
  content: "/";
  margin-left: .5rem;
}

.home svg {
  font-size: 1rem;
}
