:root {
  --color-background: #0E0E0E;
  --color-foreground: #FFFFFF;
  --color-header-border: #1d1d1d;

  --font-family: var(--inter), sans-serif;
  --font-size-xsmall: .75rem;
  --font-size-small: .85rem;
  --font-size-regular: 1rem;

  --content-max-width: 1200px;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-family);
}

.container {
  width: calc(100% - 1rem);
  max-width: var(--content-max-width);
  margin: 0 auto;
}
